@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    @apply bg-color-secondary px-9 py-3 rounded-md capitalize font-bold hover:opacity-80 ease-in duration-200;
}

.title{
    @apply text-3xl md:text-[50px] mb-4 font-bold leading-snug;
}

.blob1{
    @apply w-80 h-80 bg-color-blob absolute top-24 -left-5 -z-10 blur-2xl opacity-30 rounded-full overflow-hidden;
}

.blob2{
    @apply w-80 h-80 bg-color-secondary absolute bottom-20 right-0 -z-10 blur-2xl opacity-30 rounded-full overflow-hidden;
}

.user-pic.active-pic{
    border: 2px solid #ff7d3b;
}

.user-text{
    display: none;
}

.user-text.active-text{
    display: block;
}

.card{
    perspective: 1000px;
}

.front,
.back{
    backface-visibility: hidden;
    transition: all 0.4s ease;
}

.front{
    overflow: hidden;
}

.card_btn{
    @apply w-full px-9 py-3 bg-color-primary-dark rounded-md capitalize font-bold hover:bg-color-secondary ease-in duration-200;
}

